.map {
    bottom: 0;    
    height: 100%;
    width: 100%;
    z-index: 0;
}

.sidemenu-top {
    border-radius: 4px 0px 0px 4px;
    margin-left: -44px !important;
    position: fixed;
    top: 5%;
}

.sidemenu-bottom {
    border-radius: 4px 0px 0px 4px;
    bottom: 5%;
    margin-left: -44px !important;
    position: fixed;
}

.ui.vertical.buttons .button:first-child {
    border-top-right-radius: 0;
}

.ui.vertical.buttons .button:last-child {
    border-bottom-right-radius: 0;
}

.sidebar-panel {
    background-color: white;
    color: #333;
    height: 100% !important;
    width: 100% !important;    
}

.ui.container {
}

.sidebar-panel-heading {
    background-color: #f5f5f5; 
    padding: 10px;
    position: relative;  
    width: 100%;
}

.sidebar-panel-title {
    display: inline-block;
    margin-bottom: 0px;
}

.sidebar-panel-icon {
    box-shadow: none;
    border: none;
    cursor: pointer;
    display: block;
    float: right;
    top: 0;
    right: 0;
}

/*.disabled.remove.icon::before::hover {
    color: #333;
}*/

.sidebar-panel-icon .ui.basic.button {
    box-shadow: 0px 0px 0px 0px;
}

.sidebar-panel-body {
    background-color: white;
    height: 100% !important;
    width: 100% !important;
}


#sidebar, .ui.sidebar.right.overlay{
    border-color: #333;
    border-width: 5px;
    width: 30% !important/*;
*/}
